<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desant_2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,50},{63,46}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,50},{63,46}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,50},{63,46}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,50},{63,46}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,50},{63,46}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,50},{63,46}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{63,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{63,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{63,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{63,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{63,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{63,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{63,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,46}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{65,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{47,38}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{47,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desant.fire.png</string>
            <key>size</key>
            <string>{499,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1fc109eed524f027df4c5172c78f5ac:ca8b59e0347c0bf1fabc79ec84f4bee4:7df1c490f330448bece0464e2fba69d3$</string>
            <key>textureFileName</key>
            <string>desant.fire.png</string>
        </dict>
    </dict>
</plist>
