<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desant_2_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,42},{37,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,42},{37,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{39,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{39,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,84},{39,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{39,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,82},{39,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{39,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,43},{39,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{39,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{39,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{39,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,84},{39,38}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{39,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,43},{39,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{39,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{39,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{39,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,82},{39,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{39,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{39,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{39,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,42},{37,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desant.left.png</string>
            <key>size</key>
            <string>{200,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:860b306d2176ce32fe4562bb14db2ac1:b00d58f403ea2e2d418bb78ff9b6b6d5:1b9b3b5fbc11e6483a67a540c319fa1e$</string>
            <key>textureFileName</key>
            <string>desant.left.png</string>
        </dict>
    </dict>
</plist>
