<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desant_2_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,42},{29,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,42},{31,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{31,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,42},{31,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{33,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{31,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,42},{31,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{29,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{31,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,42},{31,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{31,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,42},{31,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{31,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_back_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,42},{29,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desant.up.png</string>
            <key>size</key>
            <string>{233,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52e2ea601f7c6eeda3c9fde0f034604f:5d5c6abdaf6c22f2fbb3f5b71426b7bb:8e1d16a157c0bd9f82bb6d916e8ba0b8$</string>
            <key>textureFileName</key>
            <string>desant.up.png</string>
        </dict>
    </dict>
</plist>
