<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desant_2_front_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,86},{29,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,44},{29,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,44},{31,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{31,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{31,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{31,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,86},{31,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{31,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,44},{31,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{31,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,44},{29,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{29,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{29,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,86},{29,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{31,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{31,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{31,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{31,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{31,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{31,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_front_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,86},{29,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desant.down.png</string>
            <key>size</key>
            <string>{163,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05b225995d8f371d84efe009d7d8feaf:56e879e173acd033af5b56b7c1a13f8b:e7ffd004f1004682b87bd722aaa77fdf$</string>
            <key>textureFileName</key>
            <string>desant.down.png</string>
        </dict>
    </dict>
</plist>
