<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret6_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,396},{58,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{58,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,328},{58,66}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{58,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,62},{58,62}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,25},{58,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,320},{60,58}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{60,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{62,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,328},{64,60}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,27},{64,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,394},{68,64}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{68,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,122},{72,64}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{72,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,328},{74,66}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{74,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,248},{80,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{80,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,80},{84,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,160},{90,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,162},{70,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{70,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,86},{72,92}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{72,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{72,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{72,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{74,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{74,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{76,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{76,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,244},{78,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{78,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,244},{82,84}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{82,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,396},{84,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{86,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{86,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{90,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,188},{58,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{58,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{334,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:249cf945fc1d424c30c3c4ff88e6f8d5:832cf75552888453637040f63079c352:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
