<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret6_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,334},{58,84}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{58,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,250},{58,78}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{58,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,428},{58,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{58,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,420},{60,68}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,310},{62,68}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{62,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,390},{64,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{64,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,390},{68,74}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{68,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,92},{72,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{72,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,312},{74,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{74,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,168},{80,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,250},{84,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{84,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,98},{90,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{90,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{70,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{70,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,334},{72,92}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{72,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,158},{72,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{72,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{74,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{74,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{76,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,80},{76,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{76,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,232},{78,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{78,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{82,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20022.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{84,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{84,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{86,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{86,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{90,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,190},{58,84}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{58,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{353,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f4f72bc1ea2489b7daf0fbb7a9e5cd5:f6bbf3e71d7f05e51769ce04cac5d5e2:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
