<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret6_50001.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,150},{58,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{58,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50002.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,238},{58,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{58,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,150},{58,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{58,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,248},{58,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{58,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50005.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{58,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{58,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{58,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{58,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,90},{58,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{58,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,286},{58,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{58,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50009.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,160},{60,86}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{60,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50010.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,258},{62,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{62,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50011.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{64,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{64,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50012.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,92},{66,88}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{66,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{70,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{70,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50014.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{74,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{74,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50015.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,166},{66,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{66,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50016.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,96},{68,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{68,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50017.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{70,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{70,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50018.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,272},{72,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{72,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50019.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,176},{76,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{76,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50020.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,96},{78,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{78,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50021.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,190},{82,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{84,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{84,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{86,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret6_50025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{58,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{58,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{500,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e86ed58f575ee8497d52ed05391fb7b4:b0bdf252b56c5dbdd6e7b4f1537e7d48:c6dbde1693599f6671c0dc889ed7f1c3$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
