<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret1_3_1stage0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,230},{78,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_1stage0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,316},{78,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_1stage0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,156},{78,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_1stage0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,242},{78,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_2stage0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,376},{78,70}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_2stage0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,304},{78,70}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_2stage0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{78,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_2stage0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,82},{78,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_3stage0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,164},{78,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_3stage0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_3stage0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{78,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_3stage0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{78,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{78,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_4stage0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{78,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_4stage0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,84},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_4stage0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret1_3_4stage0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{78,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{243,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec86a39482be5be2c6cad05a59b0f2e5:cae0d49f4958690a1d3d0624c78e4f2e:f4b3fb2dcccdcb0ee302cc6e10a27ade$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
