<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret5_5_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,90},{72,92}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{72,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,184},{72,92}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{72,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,292},{76,94}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{76,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,100},{80,94}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{80,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,90},{84,92}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,378},{70,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{70,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{72,92}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{72,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,90},{72,92}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{72,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,306},{70,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{70,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,234},{70,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{70,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,388},{74,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{74,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,396},{80,94}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{80,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{86,92}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,162},{70,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{70,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,90},{70,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{70,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,306},{70,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{70,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,298},{70,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{70,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,196},{74,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{74,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{78,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{78,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{82,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{82,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,98}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,292},{70,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{70,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,200},{70,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{70,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{70,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{70,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,102},{70,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{70,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{72,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{72,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,196},{76,94}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{76,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{80,96}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{80,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{82,98}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,398},{70,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{70,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,300},{70,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{70,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_5_40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,398},{70,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{70,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser.5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da76ccf4dee3dff1bea67dc7148fe288:f335e7bb85eef8579ca20565ed011a87:9034cf22b6cef5beb61a871854d8a3ef$</string>
            <key>textureFileName</key>
            <string>laser.5.png</string>
        </dict>
    </dict>
</plist>
