<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret5_2_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,384},{64,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{64,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,188},{66,90}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{66,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{70,92}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{70,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{72,92}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{72,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,96},{74,90}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{74,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,372},{64,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{64,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,292},{64,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{64,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,384},{64,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{64,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,280},{64,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{64,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,156},{68,90}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{68,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,384},{72,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{72,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,290},{76,92}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{76,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,76},{78,90}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{78,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,292},{64,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{64,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,226},{64,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{64,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,280},{64,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{64,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,194},{64,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,202},{66,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{66,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{68,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{68,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{70,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{64,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,98},{64,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,394},{64,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,298},{64,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,396},{64,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,300},{66,94}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{66,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{68,96}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{68,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{72,98}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,396},{64,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{64,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_2_40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,102},{64,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser.2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe08eb9a5eb420db18c4cb2a18a9672d:27f854d71ce7a15110b38c9fbbc31282:6880e63fd3cebbe461e8ea30f7721684$</string>
            <key>textureFileName</key>
            <string>laser.2.png</string>
        </dict>
    </dict>
</plist>
