<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret5_4_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,96},{66,92}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{66,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,192},{66,92}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{66,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,98},{70,94}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{70,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,396},{74,94}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{74,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,292},{78,92}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,288},{66,92}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{66,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,386},{66,92}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{66,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,96},{66,92}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{66,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{68,92}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{68,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,98},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{68,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{74,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{74,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,200},{80,94}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{80,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,392},{86,92}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{66,92}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{66,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,194},{68,92}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{68,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{68,92}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{68,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{66,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{66,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,196},{72,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{72,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,100},{76,94}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{76,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{80,96}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{80,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,98}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{82,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{66,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{66,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{66,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{66,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{66,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{66,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,298},{64,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{64,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{68,96}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{68,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,296},{72,94}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{72,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,102},{76,96}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{76,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{78,98}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,398},{64,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{64,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,200},{64,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{64,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret5_4_40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,300},{64,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{64,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser.4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7293331704a8e060814385da072899d3:7f5ba44e5dcb3607a3e8878aea0844a4:9df856405f5b64a5ccba3a21a16c5c1d$</string>
            <key>textureFileName</key>
            <string>laser.4.png</string>
        </dict>
    </dict>
</plist>
