<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret4_1_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,82},{78,50}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,34},{78,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{78,50}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,34},{78,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,376},{82,58}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,31},{82,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{82,60}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{82,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,256},{84,60}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,66},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,130},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,66},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{84,60}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,378},{82,58}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,31},{82,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,316},{82,58}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{82,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,438},{82,56}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{82,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{80,54}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{80,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,274},{80,54}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,33},{80,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,192},{80,54}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,33},{80,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,436},{82,56}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{82,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,376},{82,56}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,32},{82,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,318},{82,58}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,31},{82,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,254},{82,60}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{82,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,130},{84,60}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,194},{84,60}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,192},{82,60}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{82,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,82},{78,50}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,34},{78,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.1.png</string>
            <key>size</key>
            <string>{314,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19cefae8878a894f68f4726dd2f9bea9:f09550452ccc1478b85f4cd0a0a59930:042e3a7151d8172f01bbfd3b2fad0fd3$</string>
            <key>textureFileName</key>
            <string>1.1.png</string>
        </dict>
    </dict>
</plist>
