<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret4_1_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,252},{78,50}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{78,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{78,50}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{78,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,84},{80,58}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{80,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{80,60}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{80,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,84},{80,60}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{80,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{80,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,166},{80,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,86},{82,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,30},{82,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{82,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,30},{82,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{82,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,30},{82,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,84},{80,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,166},{80,60}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{80,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,166},{80,58}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{80,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{78,58}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,82},{78,56}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,33},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,248},{78,56}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,248},{78,56}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,248},{78,56}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,248},{78,56}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,166},{78,58}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,166},{80,58}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{80,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20022.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{80,60}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{80,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20023.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,84},{80,60}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{80,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20024.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{80,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{82,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,30},{82,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,30},{82,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20027.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,170},{80,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20028.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,166},{80,60}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{80,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20029.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,84},{80,60}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{80,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_1_20030.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,252},{78,50}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{78,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.2.png</string>
            <key>size</key>
            <string>{498,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ef0917221a393d36fea2ec56d39d219:6a6bab4e9edad04e5fa81b4a28a534ec:52352518f17bc50a44e141255d3775aa$</string>
            <key>textureFileName</key>
            <string>1.2.png</string>
        </dict>
    </dict>
</plist>
