<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1w/button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,170},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>1w/button_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1554},{290,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,72}}</string>
                <key>sourceSize</key>
                <string>{290,72}</string>
            </dict>
            <key>1w/button_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1554},{290,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,72}}</string>
                <key>sourceSize</key>
                <string>{290,72}</string>
            </dict>
            <key>1w/button_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,896},{150,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,72}}</string>
                <key>sourceSize</key>
                <string>{150,72}</string>
            </dict>
            <key>1w/button_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1554},{300,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,77}}</string>
                <key>sourceSize</key>
                <string>{300,77}</string>
            </dict>
            <key>1w/header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{958,111}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{958,111}}</string>
                <key>sourceSize</key>
                <string>{964,121}</string>
            </dict>
            <key>1w/icon_heroes/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,2},{1,1}}</string>
                <key>offset</key>
                <string>{-173.5,287.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{348,576}</string>
            </dict>
            <key>1w/icon_heroes/hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,410},{348,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,576}}</string>
                <key>sourceSize</key>
                <string>{348,576}</string>
            </dict>
            <key>1w/icon_heroes/hero10.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,693},{348,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,576}}</string>
                <key>sourceSize</key>
                <string>{348,576}</string>
            </dict>
            <key>1w/icon_heroes/hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{406,576}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{406,576}}</string>
                <key>sourceSize</key>
                <string>{460,576}</string>
            </dict>
            <key>1w/icon_heroes/hero3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{348,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,576}}</string>
                <key>sourceSize</key>
                <string>{348,576}</string>
            </dict>
            <key>1w/icon_heroes/hero4.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,115},{360,576}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,576}}</string>
                <key>sourceSize</key>
                <string>{364,576}</string>
            </dict>
            <key>1w/icon_heroes/hero5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{379,576}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,576}}</string>
                <key>sourceSize</key>
                <string>{409,576}</string>
            </dict>
            <key>1w/icon_heroes/hero6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,76},{384,576}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{384,576}}</string>
                <key>sourceSize</key>
                <string>{402,576}</string>
            </dict>
            <key>1w/icon_heroes/hero7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{348,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,576}}</string>
                <key>sourceSize</key>
                <string>{348,576}</string>
            </dict>
            <key>1w/icon_heroes/hero8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{356,576}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{356,576}}</string>
                <key>sourceSize</key>
                <string>{360,576}</string>
            </dict>
            <key>1w/icon_heroes/hero9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,654},{348,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,576}}</string>
                <key>sourceSize</key>
                <string>{348,576}</string>
            </dict>
            <key>1w/label_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>1w/label_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,722},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>1w/level_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>1w/squad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,40},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>1w/xp_progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,40},{190,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,30}}</string>
                <key>sourceSize</key>
                <string>{190,30}</string>
            </dict>
            <key>1w/xp_progress2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,896},{184,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,24}}</string>
                <key>sourceSize</key>
                <string>{184,24}</string>
            </dict>
            <key>2w/button_lvlup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{454,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,72}}</string>
                <key>sourceSize</key>
                <string>{454,72}</string>
            </dict>
            <key>2w/button_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1214},{139,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,128}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>2w/button_squad.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1554},{216,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,71}}</string>
                <key>sourceSize</key>
                <string>{216,71}</string>
            </dict>
            <key>2w/combat_preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,970},{242,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,146}}</string>
                <key>sourceSize</key>
                <string>{242,146}</string>
            </dict>
            <key>2w/icon_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,686},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>2w/icon_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,654},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>2w/icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,76},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>2w/icon_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,686},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>2w/icon_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,330},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icon_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,1082},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>2w/icons_skills/hero1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,428},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,526},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,624},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1846},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1944},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero10/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1772},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero10/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1870},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero10/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1554},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero10/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1652},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero10/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1750},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1554},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1652},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1848},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1946},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1750},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1554},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1652},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1848},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1946},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero3/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1344},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1442},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1750},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1848},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero4/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1946},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero4/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1540},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1638},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1344},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1442},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,232},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>2w/icons_skills/hero5/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1736},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero6/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1540},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero6/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1638},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero6/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1344},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero6/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1442},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero6/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1834},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero7/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1932},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero7/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1736},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero7/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1540},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero7/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1638},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero7/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1344},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero8/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1442},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero8/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1232},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero8/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1834},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero8/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1932},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero8/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1736},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero9/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1540},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero9/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1638},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero9/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1344},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero9/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1442},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/icons_skills/hero9/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1232},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>2w/skills_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,141},{62,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,27}}</string>
                <key>sourceSize</key>
                <string>{62,27}</string>
            </dict>
            <key>2w/squad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,1112},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroroom2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0500d8a571944da4da4c063c8e9e207d:4d1b8281d76ee8db19c0796981595b52:340e08f0f7c38c8392927dd1d0bc7b55$</string>
            <key>textureFileName</key>
            <string>heroroom2.png</string>
        </dict>
    </dict>
</plist>
