<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lab/bg_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,345}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1539,343},{345,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/button_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1186,522},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/button_upgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,72}</string>
                <key>spriteSourceSize</key>
                <string>{454,72}</string>
                <key>textureRect</key>
                <string>{{1542,2},{454,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{909,66}</string>
                <key>spriteSourceSize</key>
                <string>{909,66}</string>
                <key>textureRect</key>
                <string>{{2,2},{909,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1186,319},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icon_upgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1186,389},{64,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/firegun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{283,179}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1467,903},{283,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/firegun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{283,185}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1756,691},{283,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/firegun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{283,245}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{901,319},{283,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/firegun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{283,245}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{901,566},{283,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/firegun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{283,247}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{2,974},{283,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/icegun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,1}</string>
                <key>spriteSize</key>
                <string>{203,253}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{638,584},{203,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/icegun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,21}</string>
                <key>spriteSize</key>
                <string>{203,293}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{2,436},{203,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/icegun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,21}</string>
                <key>spriteSize</key>
                <string>{203,293}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{297,565},{203,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/icegun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,17}</string>
                <key>spriteSize</key>
                <string>{225,297}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{301,338},{225,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/icegun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,20}</string>
                <key>spriteSize</key>
                <string>{201,299}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{341,135},{201,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/icon_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{642,135},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/icon_firegun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{793,1296},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/icon_icegun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{793,1388},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/icon_laser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{646,1946},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/icon_minigun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{738,1946},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/icon_range.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,28}</string>
                <key>textureRect</key>
                <string>{{642,167},{38,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/icon_rate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,27}</string>
                <key>spriteSourceSize</key>
                <string>{45,27}</string>
                <key>textureRect</key>
                <string>{{1998,129},{45,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/icon_roketgun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{785,1743},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/icon_teslagun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{785,1835},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/laser1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{187,267}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1270,259},{187,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/laser2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,6}</string>
                <key>spriteSize</key>
                <string>{199,277}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{617,1003},{199,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/laser3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{205,269}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1270,52},{205,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/laser4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,9}</string>
                <key>spriteSize</key>
                <string>{205,283}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{896,1026},{205,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/laser5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,9}</string>
                <key>spriteSize</key>
                <string>{219,283}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{287,1029},{219,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/minigun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{283,185}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1756,878},{283,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/minigun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-15}</string>
                <key>spriteSize</key>
                <string>{283,207}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1182,886},{283,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/minigun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{283,257}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{642,299},{283,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/minigun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{283,257}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{2,715},{283,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/minigun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{283,257}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{287,770},{283,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/roketgun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-38}</string>
                <key>spriteSize</key>
                <string>{211,209}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{2,1436},{211,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/roketgun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-27}</string>
                <key>spriteSize</key>
                <string>{211,231}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1752,1065},{211,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/roketgun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-27}</string>
                <key>spriteSize</key>
                <string>{211,231}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1467,1084},{211,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/roketgun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{223,277}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1258,448},{223,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/roketgun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{235,297}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{2,199},{235,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/teslagun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-37}</string>
                <key>spriteSize</key>
                <string>{211,211}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{287,1250},{211,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/icons/teslagun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{211,283}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{2,1223},{211,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/teslagun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{211,283}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1186,673},{211,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/teslagun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{211,283}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{897,813},{211,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/icons/teslagun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{211,283}</string>
                <key>spriteSourceSize</key>
                <string>{345,345}</string>
                <key>textureRect</key>
                <string>{{1471,690},{211,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/lab_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{90,102}</string>
                <key>textureRect</key>
                <string>{{793,1204},{90,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lab/window1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,265}</string>
                <key>spriteSourceSize</key>
                <string>{355,265}</string>
                <key>textureRect</key>
                <string>{{913,52},{355,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lab/window3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,94}</string>
                <key>spriteSize</key>
                <string>{337,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,265}</string>
                <key>textureRect</key>
                <string>{{341,70},{337,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/ammo_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{106,124}</string>
                <key>textureRect</key>
                <string>{{1898,76},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,72}</string>
                <key>spriteSourceSize</key>
                <string>{290,72}</string>
                <key>textureRect</key>
                <string>{{2,641},{290,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/button_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1186,522},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/button_tab0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,19.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{199,42}</string>
                <key>textureRect</key>
                <string>{{2039,158},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/button_tab1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,44}</string>
                <key>spriteSourceSize</key>
                <string>{210,44}</string>
                <key>textureRect</key>
                <string>{{592,565},{210,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/button_tab2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,44}</string>
                <key>spriteSourceSize</key>
                <string>{201,44}</string>
                <key>textureRect</key>
                <string>{{572,777},{201,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/button_tab3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,43}</string>
                <key>spriteSourceSize</key>
                <string>{211,43}</string>
                <key>textureRect</key>
                <string>{{572,980},{211,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{909,66}</string>
                <key>spriteSourceSize</key>
                <string>{909,66}</string>
                <key>textureRect</key>
                <string>{{2,2},{909,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icon_fuel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1998,92},{35,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/icon_gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{1998,158},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1998,2},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icon_sale1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1186,455},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icon_sale2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,137}</string>
                <key>spriteSourceSize</key>
                <string>{136,137}</string>
                <key>textureRect</key>
                <string>{{672,1604},{136,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icon_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1998,47},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/bonusitem_dynamit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-15}</string>
                <key>spriteSize</key>
                <string>{189,143}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{1898,301},{189,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/icons/bonusitem_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{179,177}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{467,1835},{179,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/icons/bonusitem_laser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{171,161}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{201,1664},{171,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/icons/boost4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{364,1664},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/fuel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{137,159}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{646,1785},{137,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/fuel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{211,185}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{500,1417},{211,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/fuel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{135,179}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{535,1604},{135,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/fuel4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{231,227}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{680,70},{231,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/gear1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{1898,200},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/gear2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,15}</string>
                <key>spriteSize</key>
                <string>{193,197}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{2,1647},{193,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/icons/gear3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{205,199}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{215,1463},{205,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/gold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{197,159}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{1886,492},{197,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/icons/gold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{165,193}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{187,1842},{165,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/gold3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{183,197}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{2,1842},{183,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/gold4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{205,211}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{895,1233},{205,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/icons/gold5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{205,223}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{1181,1095},{205,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/icons/gold6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,212}</string>
                <key>spriteSourceSize</key>
                <string>{277,212}</string>
                <key>textureRect</key>
                <string>{{618,789},{277,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/ticket1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,16}</string>
                <key>spriteSize</key>
                <string>{129,103}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{713,1480},{129,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/icons/ticket2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{183,111}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{354,1837},{183,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop/icons/ticket3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{219,211}</string>
                <key>spriteSourceSize</key>
                <string>{333,243}</string>
                <key>textureRect</key>
                <string>{{572,1204},{219,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/tab_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,48}</string>
                <key>spriteSourceSize</key>
                <string>{627,48}</string>
                <key>textureRect</key>
                <string>{{913,2},{627,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/window1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,265}</string>
                <key>spriteSourceSize</key>
                <string>{355,265}</string>
                <key>textureRect</key>
                <string>{{913,52},{355,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/window2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,61}</string>
                <key>spriteSize</key>
                <string>{337,127}</string>
                <key>spriteSourceSize</key>
                <string>{355,265}</string>
                <key>textureRect</key>
                <string>{{2,70},{337,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/window3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,94}</string>
                <key>spriteSize</key>
                <string>{337,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,265}</string>
                <key>textureRect</key>
                <string>{{341,70},{337,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop/window_heroes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,265}</string>
                <key>spriteSourceSize</key>
                <string>{355,265}</string>
                <key>textureRect</key>
                <string>{{1541,76},{355,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop_lab2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bc1069314a45ca3a508ec0c290c035d:6a75260b6b655f7883bd277f8695ac34:73ab21b125bcc466e56b5bf1df4bbffb$</string>
            <key>textureFileName</key>
            <string>shop_lab2.png</string>
        </dict>
    </dict>
</plist>
