<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret2_1_2stage0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,188},{60,60}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,188},{60,60}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,144},{60,68}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,70}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{60,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,72},{60,66}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{60,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{64,68}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{64,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{68,68}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{68,66}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{68,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{64,64}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,33},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,68},{64,62}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,35},{64,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,126},{60,60}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,64},{60,60}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{60,60}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,188},{60,60}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,188},{60,60}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_1_2stage0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,188},{60,60}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.2.png</string>
            <key>size</key>
            <string>{260,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a395a1a251a296827c9c7fb30320156a$</string>
            <key>textureFileName</key>
            <string>1.2.png</string>
        </dict>
    </dict>
</plist>
