<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret2_3_2stage0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{66,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,444},{66,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{78,70}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,288},{78,70}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,27},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{80,72}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{80,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{84,72}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{84,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{86,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{78,72}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,368},{74,70}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,27},{74,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,216},{70,66}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,31},{70,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,148},{64,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{64,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,80},{64,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{64,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{66,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{66,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{66,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_3_2stage0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{66,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.2.png</string>
            <key>size</key>
            <string>{154,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94f2bc74b41743a19116a2088c583142$</string>
            <key>textureFileName</key>
            <string>3.2.png</string>
        </dict>
    </dict>
</plist>
