<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret2_5_1stage0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,346},{68,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{68,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,334},{68,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{68,84}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{76,84}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{76,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{90,86}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{90,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,90},{90,84}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{90,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,176},{84,84}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{84,84}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,260},{76,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{76,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{74,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{74,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,262},{70,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{70,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,174},{68,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,88},{68,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_1stage0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{68,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.1.png</string>
            <key>size</key>
            <string>{254,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93d14b4cf821f8e4331b2c418a62be97$</string>
            <key>textureFileName</key>
            <string>5.1.png</string>
        </dict>
    </dict>
</plist>
