<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret2_5_2stage0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,398},{66,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{66,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{66,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{66,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,346},{66,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{66,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,88},{68,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,260},{76,84}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{76,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,86}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,90},{90,84}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{90,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{84,84}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{86,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{86,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,182},{78,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{78,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,174},{74,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{74,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{70,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{70,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,330},{66,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{66,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{66,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{66,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_2stage0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,262},{66,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{66,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.2.png</string>
            <key>size</key>
            <string>{254,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42b0ad2946a8fc4eec95be165a784af3$</string>
            <key>textureFileName</key>
            <string>5.2.png</string>
        </dict>
    </dict>
</plist>
