<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret2_5_3stage0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,422},{74,82}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{74,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,338},{74,82}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{74,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,92},{74,86}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{74,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,180},{78,86}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{80,90}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{80,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,88}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{90,82}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{92,82}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{92,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{90,82}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{92,82}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,86},{84,82}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{84,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,254},{80,82}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{80,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,170},{80,82}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{80,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,436},{74,82}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{74,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,352},{74,82}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{74,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret2_5_3stage0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,268},{74,82}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{74,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.3.png</string>
            <key>size</key>
            <string>{248,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a264696ce5eb2f688b19b1ba47527556$</string>
            <key>textureFileName</key>
            <string>5.3.png</string>
        </dict>
    </dict>
</plist>
